<div id="app-videos" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                VIDEOS</h1>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="center">


            <div class="courses" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

                <div class="course" fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">

                    <mat-card class="course-content" fxLayout="column" fxFlex="1 1 auto">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Famosos con Dislexia</mat-card-title>
                        </mat-card-header>
                        <iframe align="center" style="width: 100%" src="https://www.youtube.com/embed/D7CieBZxiB0"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <mat-card-content>
                            <p>
                                La dislexia es la dificultad de aprendizaje que afecta a la escritura y en algunas
                                ocasiones el habla,
                                pero esta dificultad no ha sido impedimento para que algunas personas alcancen el éxito,
                                a continuación
                                les mencionaremos algunas personas famosas que han sido diagnosticadas con Dislexia,
                                pero que han
                                triunfado en sus carreras, aquí tenemos a Whoopi Goldberg, Steven Spielberg, Cherilyn
                                Sarkisian (Cher),
                                Keira Knightley, Tom Cruise, Steve Jobs.
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="course" fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">

                    <mat-card class="course-content" fxLayout="column" fxFlex="1 1 auto">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Entrevista a Steven Spielberg</mat-card-title>
                        </mat-card-header>
                        <iframe align="center" style="width: 100%" src="https://www.youtube.com/embed/_lbJRqhrV7c"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <mat-card-content>
                            <p>
                                Spielberg fue diagnosticado con Dislexia en el 2007, “y es eso lo que explica porque era
                                diferente de
                                los demás en mi niñez y juventud, en los años 50 no había mucha información sobre la
                                dislexia, mis
                                profesores no entendía porque iba retrasado en comparación con mis compañeros, pero
                                nunca me sentí
                                como una víctima, hacer películas fue mi vía de escape ante mi realidad. Pero creo que
                                esta diferencia
                                es lo que me inspira para hacer películas”
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="course" fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">

                    <mat-card class="course-content" fxLayout="column" fxFlex="1 1 auto">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>La Dislexia ¿Qué es Realmente?</mat-card-title>
                        </mat-card-header>
                        <iframe align="center" style="width: 100%" src="https://www.youtube.com/embed/6ws73EHUV8s"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <mat-card-content>
                            <p>
                                La dislexia es un trastornó de lecto-escritura, que en muchos de los casos no son
                                detectadas, ni
                                tratadas y es confundido con falta de interés en aprender. Maddi Rivas, nos cuenta la
                                experiencia
                                personal al momento de descubrir que era Disléxica, en su niñez ella tenía que
                                esforzarse el doble
                                para aprender, pensando que era “tonta”, hasta que a sus 16 años una de sus profesoras
                                le pregunta si
                                es disléxica, a lo que ella contesta que no lo sabía, es ahí donde junto a su madre
                                visita a un
                                especialista y descubre que tenía Dislexia.
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="course" fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">

                    <mat-card class="course-content" fxLayout="column" fxFlex="1 1 auto">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Todo lo que debes saber sobre la Dislexia</mat-card-title>
                        </mat-card-header>
                        <iframe align="center" style="width: 100%" src="https://www.youtube.com/embed/u9QJYweVceY"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <mat-card-content>
                            <p>
                                La dislexia es una disfunción que afecta a la lectura y escritura tanto a nivel
                                expresivo como comprensivo,
                                la dislexia se considera como un trastorno del aprendizaje la cual es causada por una
                                dificultad de
                                procesamiento visual y/o auditivo de las palabras, por ejemplo: confunden la p con la d
                                ya que los disléxicos
                                dan la vuelta la letra, ponen silabas delante, que van atrás por ejemplo dicen (pader)
                                en vez de (padre),
                                … una vez detectada, al paciente se le reeduca de acuerdo a sus necesidades.
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="course" fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">

                    <mat-card class="course-content" fxLayout="column" fxFlex="1 1 auto">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>¿Qué es Dislexia?</mat-card-title>
                        </mat-card-header>
                        <iframe align="center" style="width: 100%" src="https://www.youtube.com/embed/7-Zuao6hapY"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <mat-card-content>
                            <p>
                                En este video se ha pedido a 6 personas de diferentes edades que lean algunas cosas para
                                poner a prueba
                                su comprensión tanto oral como visual y así demostrarles lo que es la dislexia, con esto
                                se muestra que
                                la dislexia, no es un trastorno sino es una dificultad de aprendizaje que ciertas
                                personas lo padecen y
                                lo que necesitan es ser reeducadas.
                            </p>
                        </mat-card-content>
                    </mat-card>

                </div>


            </div>

        </div>

    </div>
    <!-- / CONTENT -->

</div>
