<div class="page-layout carded fullwidth tabbed inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">7 Pasos para detectar la Dislexia</h2><br>
        </div>
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <p>La Dislexia, actualmente afecta en mayor o menor número a un 10% o un 15% de la población adulta y escolar.
                Datos específicos consideran que las mujeres, en general, tienen un mayor desarrollo en el área del lenguaje
                que los hombres. La no detección y análisis precoz de los niños con dislexia puede ser un factor de fracaso
                escolar. No es de extrañar que uno de cada 25 alumnos presente síntomas de dislexia. Pero, ¿cómo la podemos
                detectar? La gran pregunta que muchos de nosotros tratamos de responder. <br><br> A continuación les presentamos
                7 pasos que les ayudara a saber si vuestro niño/a padece este trastorno:</p>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group>

                    <mat-tab label="1. Problemas de comprensión lectora y de escritura">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <li>Hace sustituciones, inversiones, omisiones y/o adiciones de letras o palabras.</li>
                            <li>Cuando escribe no entendemos nada.</li>
                            <li>La ortografía y la fonética es inconstante.</li>
                            <li>Cuando escribe hace mucha presión sobre el papel</li>
                            <li>Confunde unas letras con otras, cambia y sustituye las sílabas de las palabras.</li>
                            <li>Lee sin comprender lo que está leyendo.</li>
                            <li>Es frecuente que se “coma” palabras cuando lee o las repita sin ser consciente de ello</li>

                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="2. Problemas con las matemáticas">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <li>Utiliza los dedos para hacer operaciones.</li>
                            <li>Le cuesta manejar bien el dinero.</li>
                            <li>Dificultades para comprender el tiempo y las posibles tareas planeadas.</li>

                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="3. Problemas con la memoria, cognición y lenguaje">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <li>Suele utilizar imágenes, iconos y sentimientos en lugar de sonidos y palabras.</li>
                            <li>Tiene una excelente memoria a largo plazo (experiencias, lugares, caras).</li>
                            <li>Muy mala memoria para recordar lo que aprendió el día anterior.</li>
                            <li>Se distrae muy fácilmente con los sonidos.</li>
                            <li>Cuando habla lo hace con frases entrecortadas e incompletas. No pronuncia bien y a veces tartamudea.</li>

                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="4. Problemas de coordinación psicomotriz">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <li>Presenta dificultades en habilidades motoras (le cuesta atar los cordones de los zapatos).</li>
                            <li>Tiene poco equilibrio.</li>
                            <li>Tiene dificultades de coordinación sobretodo en actividades físicas, lúdicas, etc.</li>
                            <li>Si hace movimientos fácilmente se marea.</li>
                            <li>Puede ser ambidiestro y con frecuencia confunde la izquierda de la derecha o el arriba del abajo.</li>

                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="5. Problemas con la visión">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <li>Tiene problemas de vista y oído.</li>
                            <li>Destaca por su capacidad de observación y agudeza visual.</li>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="6. Problemas de personalidad">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <li>Es desordenado, compulsivo y perfeccionista.</li>
                            <li>Son frecuentes los cambios de humor. Emocionalmente es muy sensible.</li>
                            <li>Es curioso y creativo.</li>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="7. Problemas de salud">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <li>Propenso a las infecciones del oído.</li>
                            <li>Sueña muy profundo o se despierta con facilidad.</li>
                            <li>Continúa mojando la cama.</li>
                            <li>Sensible a comidas con aditivos y productos químicos.</li>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab 8">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <fuse-demo-content></fuse-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab 9">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <fuse-demo-content></fuse-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab 10">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <fuse-demo-content></fuse-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
