<div id="app-videos" class="page-layout simple" >

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                PRE DIAGNÓSTICO DE DISLEXIA</h1>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="center">


            <div class="courses" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'80'}">

                <div class="course" fxFlex="100" fxFlex.gt-xs="80"
                     fxFlex.gt-sm="100" [@animate]="{value:'*',params:{y:'80%'}}">

                    <div class="row">
                        <div class="column">
                            <div class="col-sm-10 fondoColumna">
                                <div *ngIf="estado">
                                    <div fxFlex="100" fxFlex.gt-xs="80"
                                         fxFlex.gt-sm="100" *ngFor="let vocal of arregloVocales ; let indice=index">
                                            <app-vocal
                                                [vocal]="vocal"
                                                [indice1]="indice"
                                            ></app-vocal>
                                    </div>
                                </div>

                                <div fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'100'}">
                                    <div class="col-sm-11" align="center"><img src="{{ruta}}" height="250" width="250"><audio src="{{ruta}}"></audio></div>
                                    <div class="col-sm-1">
                                        <button mat-button style="margin-top: 180px; margin-left: 35px; background-color: transparent" (click)="nextWord()" *ngIf="estadoFinalJuego=== false">
                                            <img src="/assets/imagenes/btnSiguiente.png" alt="siguiente" style="width: 75px; height: 55px">
                                        </button>
                                    </div>
                                </div>


                                <div fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'80'}">
                                    <div class="col-sm-11" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'80'}">
                                        <div fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'80'}">
                                            <div fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'80'}" *ngIf="arregloPalabra.length >=7">
                                                <div fxFlex="100" fxFlex.gt-xs="80"
                                                     fxFlex.gt-sm="100">
                                                    <div fxFlex="100" fxFlex.gt-xs="80"
                                                         fxFlex.gt-sm="100"  *ngFor="let p of arregloPalabra ; let indice=index">
                                                        <div *ngIf="estado">
                                                            <app-caja
                                                                [letra]="p"
                                                                [indice]="indice"
                                                                [indice2]="indice">
                                                            </app-caja>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'80'}" *ngIf="arregloPalabra.length < 7 && arregloPalabra.length > 4">
                                                <div fxFlex="100" fxFlex.gt-xs="80"
                                                     fxFlex.gt-sm="100">
                                                    <div fxFlex="100" fxFlex.gt-xs="80"
                                                         fxFlex.gt-sm="100" *ngFor="let p of arregloPalabra ; let indice=index">
                                                        <div *ngIf="estado">
                                                            <app-caja
                                                                [letra]="p"
                                                                [indice]="indice"
                                                                [indice2]="indice">
                                                            </app-caja>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div *ngIf="arregloPalabra.length < 5">
                                                <div fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'80'}">
                                                    <div class="col-sm-4"></div>
                                                    <div class="col-sm-8">
                                                        <div class="row">
                                                            <div fxFlex="100" fxFlex.gt-xs="80"
                                                                 fxFlex.gt-sm="100" *ngFor="let p of arregloPalabra ; let indice=index">
                                                                <div *ngIf="estado">
                                                                    <app-caja
                                                                        [letra]="p"
                                                                        [indice]="indice"
                                                                        [indice2]="indice">
                                                                    </app-caja>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                </div>

                                <div fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'80'}">
                                    <div fxFlex="100" fxFlex.gt-xs="80"
                                         fxFlex.gt-sm="100" *ngIf="estadoFinalJuego=== true" style="background: #eff3f2">
                                        <div fxFlex="100" fxFlex.gt-xs="80"
                                             fxFlex.gt-sm="100">
                                            <h4>PUNTAJE OBTENIDO {{Puntaje}}/100 ¡FELICITACIONES!</h4>
                                            <br>
                                            <br>
                                            <div style="margin-left: 50%">
                                                <button mat-button style="background-color: #0a68d9; color: white" (click)="savePuntaje()" routerLink="/apps/prediagnostico/visual"> Finalizar </button>

                                            </div>
                                             </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- / CONTENT -->

</div>


