<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">¿Qué es la DISLEXIA?</h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span></span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">

                La Dislexia es un trastorno del aprendizaje de la lectoescritura, de carácter persistente y específico,
                que se da en niños que no presentan ningún hándicap físico, psíquico ni sociocultural y cuyo origen
                parece derivar de una alteración del neuro-desarrollo, los disléxicos manifiestan de forma característica
                dificultades para recitar el alfabeto, denominar letras, realizar rimas simples y para analizar o
                clasificar los sonidos. Además, la lectura se caracteriza por las omisiones, sustituciones, distorsiones,
                inversiones o adicciones, lentitud, vacilaciones, problemas de seguimiento visual y déficit en la
                comprensión, (OPS, 1997).<br><br>
                El principal problema que tiene la dislexia es que no es compatible con nuestro sistema educativo, pues,
                dentro de este, todos los aprendizajes se realizan a través del código escrito, por lo cual el niño
                disléxico no puede asimilar ciertos contenidos de materias como Conocimiento del Medio, porque no es
                capaz de llegar a su significado a través de la lectura.
                El niño/a disléxico debe poner tanto esfuerzo en las tareas de lectoescritura que tiende a fatigarse, a
                perder la concentración, a distraerse y a rechazar este tipo de tareas. Los padres y profesores procesamos
                esta conducta como desinterés y presionamos para conseguir mayor esfuerzo, sin comprender que estos niños,
                realizando estas tareas, se sienten como si de repente, cualquiera de nosotros, nos viéramos inmersos en
                una clase de escritura china.<br><br>
                La Dislexia, es mucho más que tener dificultades en la lectura y en la escritura, ya que existen problemas
                de compresión, de memoria a corto plazo, de acceso al léxico,confusión entre la derecha y la izquierda,
                dificultades en las nociones espacio-temporales debemos tener en cuenta que no existen dos disléxicos
                idénticos y por tanto cada caso es único y no tiene por qué presentar la totalidad de los síntomas.

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
