body {
  background: #1e73b8; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #2330b8, #437dc2);
  background: -moz-linear-gradient(right, #2a54b8, #1b36c2);
  background: -o-linear-gradient(right, #2a54b8, #1b36c2);
  background: linear-gradient(to left, #2a54b8, #1b36c2);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('src/assets/fondos/fondo_pruebas.jpg');
  background-repeat: no-repeat;
  height: 90%;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Numans', sans-serif;
}

.opacity{
  opacity:0.8; /* Opacidad 60% */
}
