<app-menu-estudiantes></app-menu-estudiantes>
<body>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4" align="center">
    <div class="card mb-3 opacity" align="center" style="max-width: 1400px; height: 40px; margin-top: 0px">
      <div class="jumbotron mt-3" align="center">
        <a routerLink="/Tratamiento/Juegos/Ahorcado/1">
          <h3>El ahorcado</h3>
          <img src="/assets/imagenes/ahorcado.gif" width="200" height="200"></a>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-4" align="center">
    <div class="card mb-3 opacity" align="center" style="max-width: 1400px; height: 40px; margin-top: 0px">
      <div class="jumbotron mt-3" align="center">
        <a routerLink="/Tratamiento/Juegos/Memoria">
          <h3>Juego de Memoria</h3>
          <img src="/assets/imagenes/memoria.jpg" width="200" height="200"></a>
      </div>
    </div>
  </div>
</div>
</body>

