<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">Adaptaciones generales para Exámenes</h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">


            <!-- CONTENT -->
            <div class="content p-24">


                <p>
                    Debemos recordar siempre que no existirán dos casos idénticos y que por lo tanto, la adaptación del
                    examen
                    deberá ser revisada, con anterioridad con el alumnado, teniendo como referente el Protocolo de
                    Actuación en
                    Dislexia (PRODISLEX)</p>


                <h6>
                    <li>Antes de empezar crear un clima de confianza.</li>
                    <br>
                    <li>Que no se den dos exámenes en la misma fecha.</li>
                    <br>
                    <li>Que la tipografía sea clara y el interlineado un poco mayor.</li>
                    <br>
                    <li>Que el profesor pueda leer en voz alta las preguntas.</li>
                    <br>
                    <li>Poder usar el ordenador, si se domina la escritura con teclado.</li>
                    <br>
                    <li>Permitir el uso del corrector ortográfico y calculadora.</li>
                    <br>
                    <li>Las preguntas deben ser lo más precisas posibles</li>
                    <br>
                    <li>Poder utilizar varios formatos de preguntas y respuestas.</li>
                </h6>

            </div>

            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>

