<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/academico/estudiante'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="product.nombreFoto" [src]="rutaImagen + product.nombreFoto">
                    <img *ngIf="!product.nombreFoto" [src]="'assets/images/logoUsuario.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.nombre}} {{product.apellido}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nuevo Estudiante
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detalle del Estudiante</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="productForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addProduct()">
                <span>AÑADIR</span>
            </button>

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="productForm.invalid || productForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()">
                <span>GUARDAR</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Datos Básicos del Estudiante">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput placeholder="Nombre del Estudiante"
                                           name="nombre"
                                           formControlName="nombre"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Apellido</mat-label>
                                    <input matInput placeholder="Apellido del Estudiante"
                                           name="apellido"
                                           formControlName="apellido"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Cédula</mat-label>
                                    <input type="text" matInput
                                           name="cedula"
                                           formControlName="cedula"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Email</mat-label>
                                    <input type="email" matInput
                                           name="email"
                                           formControlName="email"
                                           required>
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Teléfono</mat-label>
                                    <input type="text" matInput
                                           name="telefono"
                                           formControlName="telefono"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Fecha de Nacimiento</mat-label>
                                    <input type="date" matInput
                                           name="fecha_nacimiento"
                                           formControlName="fecha_nacimiento"
                                           required>
                                </mat-form-field>


                            </div>

                        </mat-tab>


                        <mat-tab label="Datos Institución">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Nombre de Unidad Educativa</mat-label>
                                    <input matInput placeholder="Nombre Unidad Educativa"
                                           name="unidad_educativa"
                                           formControlName="unidad_educativa"
                                           type="text">
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Año de Educación Básica</mat-label>
                                    <mat-select formControlName="grado" required>
                                        <mat-option [value]="'2'">
                                            2do año
                                        </mat-option>
                                        <mat-option [value]="'3'">
                                            3ero año
                                        </mat-option>
                                        <mat-option [value]="'4'">
                                            4to año
                                        </mat-option>
                                        <mat-option [value]="'5'">
                                            5to año
                                        </mat-option>
                                        <mat-option [value]="'6'">
                                            6to año
                                        </mat-option>
                                        <mat-option [value]="'7'">
                                            7to año
                                        </mat-option>
                                        <mat-option [value]="'8'">
                                            8to año
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                                    <mat-error>Año de Educación Básica!</mat-error>
                                </mat-form-field>

                            </div>
                        </mat-tab>

                        <mat-tab label="Datos de Acceso a la Plataforma">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Nick</mat-label>
                                    <input matInput placeholder="Nick"
                                           name="nick"
                                           formControlName="nick">
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Password</mat-label>
                                    <input matInput placeholder="password"
                                           name="password"
                                           formControlName="password"
                                           type="password">
                                </mat-form-field>


                                    <mat-label>Código  {{codigo_estudiante}}</mat-label>
                                    <button mat-raised-button color="primary" (click)="generarCodigo()"> Generar
                                        Código
                                    </button>


                            </div>

                        </mat-tab>

                        <mat-tab label="Foto Estudiante">

                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
                                <form (ngSubmit)="onSubmitFoto()">
                                    <div class="form-group" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <div *ngIf="product.nombreFoto">
                                                    <img [src]="rutaImagen + product.nombreFoto"
                                                         onerror="this.src='assets/images/logoUsuario.png';"
                                                         style="height: 250px; width: 250px" *ngIf="product.nombreFoto">
                                                    <img [src]="imgURL"
                                                         onerror="this.src='assets/images/logoUsuario.png';"
                                                         style="height: 250px; width: 250px" *ngIf="imgURL">
                                                </div>
                                                <div *ngIf="!product.nombreFoto ">
                                                    <img [src]="imgURL"
                                                         onerror="this.src='assets/images/logoUsuario.png';"
                                                         style="height: 250px; width: 250px">
                                                </div>

                                                <input style="display: none" #file type="file" accept='image/*'
                                                       (change)="onFileChangeFoto($event)" #fileInput
                                                       accept=".jpeg,.jpg,.png"
                                                       (change)="preview(file.files)"/>
                                                <button mat-button color="accent"
                                                        style="background-color: #0fba6d; color: white"
                                                        (click)="file.click()"><i class="fa fa-camera"
                                                                                  aria-hidden="true"></i>Subir
                                                    Imagen
                                                </button>
                                            </div>
                                        </div>
                                    </div>


                                </form>

                            </div>

                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
