<div class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">Adaptaciones generales para alumnos</h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->

            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24" fusePerfectScrollbar>

                <h6><p>
                    Las adaptaciones no significativas (metodológicas y/o de acceso) son las que permite al alumno poder ver
                    los mismos contenidos que el resto del grupo, con el objetivo de que el alumno se posicione en igualdad
                    de condiciones a la hora de aprender y demostrar lo aprendido.</p></h6>
                <h6>
                    <li>Hacer saber al alumno que se pondrá en marcha un plan, para favorecer su proceso de aprendizaje y
                        posicionarle en igualdad de condiciones.</li>
                    <br>
                    <li>Elaborar un Taller de Normalización, para poder explicar a sus compañeros, en que consiste su dificultad
                        especifica de aprendizaje.</li>
                    <br>
                    <li>Permitir el uso del ordenador, así como programas o aplicaciones informáticas especificas(lectores,
                        corrector ortográfico, grabadora, traductor…)</li>
                    <br>
                    <li>Asegurarnos que ha habido una buena comprensión antes de empezar cualquier tarea.</li>
                    <br>
                    <li>Permitir más tiempo a la hora de elaborar los trabajos o reducir la cantidad.</li>
                    <br>
                    <li>Poder utilizar letra ligada o mayúsculas.</li>
                    <br>
                    <li>Adecuar los libros de lectura a su nivel lector.</li>
                    <br>
                    <li>Potenciar una metodología multisensorial en el aula.</li>
                    <br>
                    <li>Trabajar los diferentes contenidos de las materias con el apoyo de recursos audiovisuales.</li></h6>


            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
